# 依存関係のディレクトリ
/node_modules

# 環境設定ファイル
.env

# ログファイル
npm-debug.log
yarn-error.log
yarn-debug.log

# ビルドされたファイル
/dist
/build

# OS生成のファイル
.DS_Store
Thumbs.db

# エディタの設定ファイル
.vscode
.idea
*.sublime*

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
